a {
    color: white;
    font-family: Lato;
}

main {
    flex: 1;
    padding: 30px;
    min-height: calc(100vh - 204px);
}

mat-toolbar {
    overflow: hidden;
    width: 100%;
    min-width: 475px;
    padding: 10px 20px 10px 10px;
    font-size: 20px;
    position: relative;
    color: #FFF;
    z-index: 1;
}

mat-toolbar:after {
    color: white;
    box-shadow: 5px 10px #888888;
    content: " ";
    position: absolute;
    display: block;
    width: 25%;
    min-width: 200px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: #333;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}

.loading-container {
    background: #2630389c;
    position: fixed;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .section {
        width: 100%;
        height: 100vh;
        padding: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .loader {
            width: 48px;
            height: 48px;
            border: 5px solid #FFF;
            border-bottom-color: #FF3D00;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            animation: rotation 1s linear infinite;
        }

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}